body {
        font-family: helvetica, sans-serif;
        height: 100%;
}

h1	{
	margin: 0;
	padding: 0;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.callout {
    background-color: #ddffdd;
    outline: 3px solid #aaffaa;
}

.authorInfo	{
	font-size: small;
}

.description	{
	padding-top: 10pt;
}


.svg {
        display: inline-block;
        vertical-align: middle
}

.link {
        text-decoration: none;
        color: #330088;
}

.visibleLink {
        font-weight: bold;
}

.hiddenLink {
}

.keyword {
        font-weight: bold;
}

.unknown {
        color: red !important
}


table {
        border-top: 4px solid orange;
        padding-top: 0;
        margin-top: 20pt;
}

td {
        vertical-align: top;
}

dt {
        float: left;
        clear: both;
        width: 20%;
        text-align: right;
        font-weight: bold;
        margin: 0.5em;
        padding: 0.5em;
        -webkit-break-after: avoid;
        -moz-break-after: avoid;
        break-after: avoid;
}

dd {
        float: right;
        width: 70%;
        margin: 0.5em;
        padding: 0.5em;
}

.rules { border-top: 4px solid orange; 
         /*-webkit-column-width: 40em;
         -moz-column-width: 40em;
         column-width: 40em;*/
         padding-top: 1em;
        }

ol {
        list-style-position: inside;
        margin-left: 0;
        padding-left: 0;
}

ul {
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
}

li ul {
        list-style-type: square;
        margin: 1em 1em 1em 3em;
}

li {
        margin-bottom: 0.5em;
}
