body {
        font-family: helvetica, sans-serif;
        margin: 5%;
}

h1	{
	margin: 0;
	padding: 0;
}

.authorInfo	{
	font-size: small;
}

.description	{
	padding-top: 10pt;
}


.svg {
        display: inline-block;
        height: 20pt;
        width: 20pt;
        vertical-align: middle
}

.link {
        font-weight: bold;
        color: blue
}

.keyword {
        font-weight: bold;
}

.unknown {
        color: red !important
}


table {
        border-top: 4px solid orange;
        padding-top: 0;
        margin-top: 20pt;
}

td {
        vertical-align: top;
}

dt {
        float: left;
        clear: both;
        width: 20%;
        text-align: right;
        font-weight: bold;
        color: green;
        padding: 0 0;
        margin: 0 0;
        padding: 0 0 1em 0;
}

dd {
        float: right;
        width: 75%;
        padding: 0 0;
        margin: 0 0;
        padding: 0 0 1em 0;
}


.defs {
        width: 40%;
}

.phases {
        width: 40%;
}
